@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Project.Services.ViewModels.CuisineViewModel>

<a asp-controller="Cuisine" asp-action="AddCuisine" class="btn btn-outline-danger">Add Cuisine</a>

@foreach (var @item in Model)
{
<head>
    <style>
        img{
            height:300px;
            width:500px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom:30px;
        }
        body{

        }
        .title{
            font-size: 50px;
            font-weight:bold;
        }
        .buttons{
            margin-bottom:30px;
        }
    </style>
</head>

    <div class="title">
        <p>@item.CuisineName</p>
    </div>

    <div class="image">
        <img src="@item.CuisineImage"/>
    </div>

    <div class="buttons">

        <a asp-controller="Cuisine" asp-action="GetRecipesByCuisine" asp-route-id="@item.CuisineId" class="btn btn-outline-danger">Recipes In Cuisine</a>

        @if(User.IsInRole("Admin"))
        {
            <a asp-controller="Cuisine" asp-action="Update" asp-route-id="@item.CuisineId" class="btn btn-outline-danger">Update Cuisine</a>
            <a asp-controller="Cuisine" asp-action="Delete" asp-route-id="@item.CuisineId" class="btn btn-outline-danger">Delete Cuisine</a>
        }
    </div>
}

<div class="gobackbutton">
<a asp-controller="Cuisine" asp-action="Index" class="btn btn-outline-danger">Back To Cuisines</a>
</div>