@model List<Project.Services.ViewModels.RecipeViewModel>

<head>
    <link rel="stylesheet" href="/css/style2.css">
</head>

@foreach (var @item in Model)
{

    <div class="title">
        <p>@item.RecipeTitle</p>
    </div>

    <div class="image">
        <img src="@item.RecipeImage"/>
    </div>

    <div class="description">
        <p>Describtion: @Html.Raw(@item.RecipeDescription)</p>
    </div>

    <div class="cooktime">
        <p>CookTime (minutes): @item.RecipeCookTime</p>
    </div>

    <div class="buttons">

        <a asp-controller="Recipe" asp-action="Details" asp-route-id="@item.RecipeId" class="btn btn-outline-danger">Recipe Details</a>

        @if(User.IsInRole("Admin")|| (User.IsInRole("Chef")&&User.Identity.Name == @item.RecipeAuthorName))
        {
            <a asp-controller="Recipe" asp-action="Update" asp-route-id="@item.RecipeId" class="btn btn-outline-danger">Update Recipe</a>
            <a asp-controller="Recipe" asp-action="Delete" asp-route-id="@item.RecipeId" class="btn btn-outline-danger">Delete Recipe</a>
        }

    </div>

    <div class="reviewButtons">

        <a asp-controller="Review" asp-action="AddReview" asp-route-id="@item.RecipeId" class="btn btn-outline-danger">Add Review</a>

        <a asp-controller="Recipe" asp-action="GetRecipeReviews" asp-route-id="@item.RecipeId" class="btn btn-outline-danger">Recipe Reviews</a>

    </div>

}