@model List<Project.Services.ViewModels.UserViewModel>

@inject Project.Interfaces.IUserService userService

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<head>
<link rel="stylesheet" href="/css/reviewsAndUsers.css">
</head>

@foreach (var @item in Model)
{

<div class="user">

    <div class="title">
        <p>User Name: @item.UserName</p>
    </div>

    <div class="title">
        <p>Email: @item.Email</p>
    </div>

    <div class="class1">
        <p>Phone Number: @item.PhoneNumber</p>
    </div>

    <div class="class1">
        <p>Role: @(userService.GetUserRole(@item.Id))</p>
    </div>

    <div class="deleteUser">
        <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete User</a>
    </div>
        
        @if (userService.GetUserRole(@item.Id) != "Admin")
            {
                <div class="buttons">
                <form asp-controller="User" asp-action="MakeAdmin" method="post">
                    <input type="hidden" name="userId" value="@item.Id" />
                    <button type="submit" class="btn btn-outline-danger">Make Admin</button>
                </form>
                </div>
            }
            @if (userService.GetUserRole(@item.Id) != "Chef")
            {
                <div class="buttons">
                <form asp-controller="User" asp-action="MakeChef" method="post">
                    <input type="hidden" name="userId" value="@item.Id" />
                    <button type="submit" class="btn btn-outline-danger">Make Chef</button>
                </form>
                </div>
            }
            @if (userService.GetUserRole(@item.Id) != "User")
            {
                <div class="buttons">
                <form asp-controller="User" asp-action="MakeUser" method="post">
                    <input type="hidden" name="userId" value="@item.Id" />
                    <button type="submit" class="btn btn-outline-danger">Make User</button>
                </form>
                </div>
            }
            
</div>

}