@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Project.Services.ViewModels.RecipeViewModel

<head>
    <style>
        .image{
            background: url(@Model.RecipeImage);
            height:600px;
            width:1000px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        body{
            background: #CA0000;
        }
        .container{
            background:white;
            padding: 50px;
        }
        .title{
            font-size: 100px;
            font-weight:bold;
        }
        h4{
            margin-top:50px;
        }
        h2{
            margin-top:50px;
        }
        .gobackbutton{
            margin-top:50px;
        }
    </style>
</head>

<div class="container">

    <div class="title">@Model.RecipeTitle</div>

    <div class="image"></div>

    <h2>Ingredients:</h2>
    <div class="ingredients" style="white-space: pre-line">@Model.RecipeInredients</div>

    <h2>Describtion:</h2>
    <div class="description" style="white-space: pre-line">@Model.RecipeDescription</div>

    <h2>Author:</h2>
    <div class="author">@Model.User</div>

    <h2>Introduction:</h2>
    <div class="introduction" style="white-space: pre-line">@Model.RecipeIntroduction</div>

    <h2>Directions:</h2>
    <div class="directions" style="white-space: pre-line">@Model.RecipeDirections</div>

    <h4>Cook Time In Minutes:</h4>
    <div class="cooktime">@Model.RecipeCookTime</div>

    <h4>Calories Per 100g:</h4>
    <div class="calories">@Model.RecipeCalories</div>

    <h4>Servings:</h4>
    <div class="serving">@Model.RecipeServings</div>

    <div class="gobackbutton">
        <a asp-controller="Recipe" asp-action="Index" class="btn btn-outline-danger">Back To All Recipes</a>
    </div>

</div>

