@model Project.Services.ViewModels.RecipeViewModel

<head>
    <link rel="stylesheet" href="/css/recipeDetails.css">
    <style>
        .image {
            background: url(@Model.RecipeImage); 
            height: 600px;
            width: 1000px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>

<div class="container">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="title">@Model.RecipeTitle</div>

    <div class="image"></div>

    <h2>Ingredients:</h2>
    <div class="ingredients" style="white-space: pre-line">@Model.RecipeInredients</div>

    <h2>Describtion:</h2>
    <div class="description" style="white-space: pre-line">@Html.Raw(@Model.RecipeDescription)</div>

    <h2>Introduction:</h2>
    <div class="introduction" style="white-space: pre-line">@Html.Raw(@Model.RecipeIntroduction)</div>

    <h2>Directions:</h2>
    <div class="directions" style="white-space: pre-line">@Html.Raw(@Model.RecipeDirections)</div>

    <h4>Cook Time In Minutes:</h4>
    <div class="cooktime">@Model.RecipeCookTime</div>

    <h4>Calories Per 100g:</h4>
    <div class="calories">@Model.RecipeCalories</div>

    <h4>Servings:</h4>
    <div class="serving">@Model.RecipeServings</div>

    <h4>Recipe Author:</h4>
    <div class="serving">@Model.RecipeAuthorId</div>

    <h4>Recipe Category:</h4>
    <div class="serving">@Model.RecipeCategory.RecipeCategoryName</div>

    <h4>Recipe Cuisine:</h4>
    <div class="serving">@Model.Cuisine.CuisineName</div>

    <div class="gobackbutton">
        <a asp-controller="Recipe" asp-action="Index" class="btn btn-outline-danger">Back To All Recipes</a>
    </div>

</div>

